@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 /* Add this CSS to your styles */
body {
  overflow-x: hidden; /* Prevent horizontal scroll on the body */
}

.horizontal-scroll {
  display: flex;
  flex-direction: row; /* Align items in a row */
  height: 100vh; /* Full height to fill the viewport */
}

.section {
  min-width: 100vw; /* Each section takes the full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}
}